{% extends "base.html" %}

{% block title %}Espace Bibliothécaire{% endblock %}

{% block page_header %}
  <h1>Médiathèque – Bibliothécaire</h1>
{% endblock %}

{% block nav %}
<nav id="menu-bibliothecaire">
  <ul>
    <li><a href="{% url 'accounts:accueil' %}">Accueil Médiathèque</a></li>
    <li><a href="{% url 'consultation:accueil' %}">Accueil Consultation</a></li>
    <li><a href="{% url 'bibliothecaire:accueil' %}">Accueil Bibliothécaire</a></li>

    {% if user.bibliothecaire %}
    <li>
      <ul>
        <li><a href="{% url 'bibliothecaire:media_create_livre' %}">Créer Livre</a></li>
        <li><a href="{% url 'bibliothecaire:media_create_dvd' %}">Créer DVD</a></li>
        <li><a href="{% url 'bibliothecaire:media_create_cd' %}">Créer CD</a></li>
        <li><a href="{% url 'bibliothecaire:media_list' %}">Lister Médias</a></li>
        <li><a href="{% url 'bibliothecaire:media_list_consultables' %}">Lister Consultables</a></li>
        <li><a href="{% url 'bibliothecaire:media_list_disponibles' %}">Lister Disponibles</a></li>
        <li><a href="{% url 'bibliothecaire:membre_create' %}">Créer Membre</a></li>
        <li><a href="{% url 'bibliothecaire:membre_create_emprunteur' %}">Créer Membre-Emprunteur</a></li>
        <li><a href="{% url 'bibliothecaire:membre_list_gestion' %}">Lister Membres</a></li>
        <li><a href="{% url 'bibliothecaire:membre_list_emprunteurs' %}">Lister Membres-Emprunteur</a></li>
        <li><a href="{% url 'bibliothecaire:emprunt_list' %}">Lister Emprunts</a></li>
        <li><a href="{% url 'bibliothecaire:emprunt_create' %}">Créer Emprunt</a></li>
        <li><a href="{% url 'bibliothecaire:emprunt_rendre' %}">Rendre Emprunt</a></li>
      </ul>
    </li>

    {% if user.bibliothecaire.is_admin %}
    <li>
      <ul>
        <li><a href="{% url 'bibliothecaire:emprunt_retard' %}">Marquage des retards</a></li>
        <li><a href="{% url 'bibliothecaire:rejeu_reset_retard_session' %}">Changer date de marquage</a></li>
        <li><a href="{% url 'bibliothecaire:media_create' %}">Créer média non typé</a></li>
        <li><a href="{% url 'bibliothecaire:media_list_by_type' %}?type=LIVRE">Lister Livres</a></li>
        <li><a href="{% url 'bibliothecaire:media_list_by_type' %}?type=DVD">Lister DVDs</a></li>
        <li><a href="{% url 'bibliothecaire:media_list_by_type' %}?type=CD">Lister CDs</a></li>
        <li><a href="{% url 'bibliothecaire:media_list_by_type' %}?type=NON_DEFINI">Lister médias non typés</a></li>
        <li><a href="{% url 'bibliothecaire:membre_list' %}">Lister membres en base</a></li>
        <li><a href="{% url 'bibliothecaire:membre_list_archives' %}">Lister membres supprimés</a></li>
        <li><a href="{% url 'bibliothecaire:jeu_list' %}">Lister jeux</a></li>
        <li><a href="{% url 'bibliothecaire:jeu_create' %}">Créer jeu</a></li>
      </ul>
    </li>
    {% endif %}

    {% endif %}
  </ul>
</nav>
{% endblock %}

{% block footer %}
<p>&copy; Bibliothécaire – Médiathèque</p>
{% endblock %}
