{% extends 'bibliothecaire/_base.html' %}

{% block title %}Catalogue des Médias{% endblock %}

{% block content %}
<h2>Liste des médias</h2>
<ul>
  {% for media in medias %}
    <li>
      <a href="{% url 'bibliothecaire:media_detail' media.pk %}">
        {% if media.media_type != 'NON_DEFINI' %}
          {{ media.name }} ({{ media.media_type }}) {% if media.disponible %}- [disponible]{% endif %}
        {% else %}
          {{ media.name }} (- sans -) {% if media.disponible %}- [disponible]{% endif %}
        {% endif %}
      </a>
    </li>
  {% empty %}
    <li>Aucun média disponible.</li>
  {% endfor %}
</ul>
{% endblock %}
