{% extends 'bibliothecaire/_base.html' %}

{% block title %}Catalogue des Médias{% endblock %}

{% block content %}

{% if consultable or disponible %}
    <h2>Liste des médias{% if consultable %} consultables{% endif %}{% if disponible %} disponibles{% endif %}</h2>
{% elif filtre != 'type inconnu' %}
    <h2>Liste des {% if media_type == "LIVRE" %}livres{% elif media_type == 'DVD' %}DVD{% elif media_type == 'CD' %}CD{% elif media_type == 'NON_DEFINI' %}médias "non définis" (en attente de définition){% else %}médias{% endif %}</h2>
{% else %}
    <h2>Liste complète des médias</h2>
{% endif %}

<ul>
  {% for media in medias %}
    <li>
      <a href="{% url 'bibliothecaire:media_detail' media.pk %}">
        {% if media.media_type != 'NON_DEFINI' %}
          {{ media.name }} ({{ media.media_type }}) {% if media.consultable %}- {consultable}{% endif %} {% if media.disponible %}- [disponible]{% endif %}
        {% else %}
          {{ media.name }} (- sans -) {% if media.consultable %}- {consultable}{% endif %} {% if media.disponible %}- [disponible]{% endif %}
        {% endif %}
      </a>
    </li>
  {% empty %}
    <li>Aucun média disponible.</li>
  {% endfor %}
</ul>

<div style="margin-top: 20px;">
    <a href="{% url 'bibliothecaire:accueil' %}">Retour à l'accueil</a>
</div>

{% endblock %}
